body {

  /* background color */
      --background-color: #fff;
      --dark-background-color: rgb(219, 202, 159);


    /* section colors */
      --section-color-1: #fff;
      --section-color-2: #F9EAC3;
      --section-color-3: #FBC97E;
      --section-color-4: #F26E21;
      --section-color-5: #3c593e;
      --section-color-6: #5F2300;
      --section-color-7: #000;


    /* text colors */
      --text-color-1: #fff;
      --text-color-2: #F9EAC3;
      --text-color-3: #F26E21;
      --text-color-4: #3c593e;
      --text-color-5: #5F2300;
      --text-color-6: #000;

      /*input color*/
      --invalid-color: #FBC97E;
      --valid-color: #3c593e;

      
    /*font*/
      --font-text: "Poppins", sans-serif;
      --font-text-bold: "Poppins-Bold", sans-serif;
  
      --font-size-small: 1rem;
      --font-size-medium: 1.2rem;
      --font-size-large: 4.5rem;
      --font-size-X-large: 7rem;
  

    /*forms and more*/
      --radius-card: 1em;
      --radius-big-card: 2em;
      --radius-round: 100%;
      --shadow: hsl(240, 5%, 41%, 0.2) 0px 0px 29px 0px;
      --dark-shadow: black 0px 0px 10px 0px;

    /* button styling */
      --button-height: 3em;
      --button-width: 6em;
      --button-opacity: 80%;
}



/*color cirkles*/
  .white {
    background-color: var(--section-color-1);
  }
  
  .beige {
    background-color: var(--section-color-2);
  }

  .light-orange {
    background-color: var(--section-color-3);
  }

  .orange {
    background-color: var(--section-color-4);
  }

  .green {
    background-color: var(--section-color-5);
  }

  .brown {
    background-color: var(--section-color-6);
  }



/*font*/
    #typografie {
      font-family: var(--font-text);
    }

    .h1 {
      font-size: var(--font-size-X-large);
      font-weight: var(--font-text-bold);
    }

    .h2 {
      font-size: var(--font-size-large);
      font-weight: var(--font-text-bold);

    }

    .h3 {
      font-size: var(--font-size-medium);
      font-weight: var(--font-text-bold);

    }

    .paragraph {
      font-size: var(--font-size-small);
    }



/*forms & elements*/
  .ol {
    font-size: var(--font-size-small);
  }
    
  .ul {
    font-size: var(--font-size-small);
  }

  .table {
    font-size: var(--font-size-small);
  }

  #formulieren{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 5em;
  }

  .input1{
    border-radius: var(--radius-card);
    border-color: var(--section-color-5);
    outline-color: var(--section-color-5);
  }

  .input1:hover{
    background-color: var(--section-color-2);
  }

  .input1 {
    border-radius: var(--radius-card);
  }

  fieldset{
    color: var(--section-color-5);
    accent-color: var(--section-color-5);
  }

  .searchbar{
    border-radius: var(--radius-card);
    border-color: var(--section-color-5);
    outline-color: var(--section-color-5);
  }

  .searchbar:hover{
    background-color: var(--section-color-2);
  }

  .tel{
    border-radius: var(--radius-card);
    border-color: var(--section-color-5);
    outline-color: var(--section-color-5);
  }

  .tel:hover{
    background-color: var(--section-color-2);
  }

  .label2 {
      border-radius: var(--radius-big-card);
      font: var(--font-text-bold);
      color: var(--section-color-5);
  }

  .button-green{
    background-color: var(--section-color-5);
    color: var(--section-color-2);
    border-radius: var(--radius-card);
    border: none;
  }

  .button-brown{
    background-color: var(--section-color-6);
    color: var(--section-color-4);
    border-radius: var(--radius-card);
    border: none;
  }

  .button-beige{
    background-color: var(--section-color-2);
    color: var(--section-color-5);
    border-radius: var(--radius-card);
    border: none;
  }

  .button-green:hover{
    opacity: var(--button-opacity);
  }

  .button-brown:hover{
    opacity: var(--button-opacity);
  }

  .button-beige:hover{
    opacity: var(--button-opacity);
  }

  input:invalid{
    background-color: var(--invalid-color);
    opacity: 50%;
  }

  input:valid{
    background-color: var(--valid-color);
    opacity: 50%;
  }